section.banner
    .container
        h1.banner__title
            | Доставка

        ul.banner__tabs
            li
                a(href="#Moscow" data-tab="Moscow").banner__tab.tab-active
                        | Москва

            li
                a(href="#Rus" data-tab="Rus").banner__tab
                        | Россия

        #Moscow.banner__tab-body.active-tab-body
            h3.banner__sub-title
                | Доставка по Москве и Московской области

            p.banner__time-deliv
                | Доставка производится собственной курьерской службой
                br
                | ежедневно, с 11:00 до 22:00.

            p.banner__deliv-mcad
                | По Москве в пределах МКАД
                span.banner__font
                    | - 250 рублей

            p.banner__deliv-outmcad
                | По Москве, за МКАД и по Московской области

            P.banner__distance
                | до 10 км - 350 Р
                br
                | до 20 км - 450 Р
                br
                | до 30 км - 550 Р
                br
                | до 50 км - 750 Р

            p.banner__free
                | Примерка двух пар обуви - Бесплатно

            P.banner__free-descr
                | Бесплатная примерка подразумевает покупку
                | одной пары из двух на Ваш выбор. То есть,
                | если Вы желаете преобрести 2 пары обуви,
                | можете заказать 4 пары на примерку бесплатно.

            p.banner__extra
                | Примерка дополнительной пары

            p.banner__price
                | 100 рублей

            p.banner__renounce
                | При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб.
                br
                | Если доставка за МКАД, то 250 руб + стоимость доставки.

        #Rus.banner__tab-body
            h3.banner__sub-title
                | Доставка по России

            p.banner__time-deliv
                | Доставка производится собственной курьерской службой
                br
                | ежедневно, с 11:00 до 22:00.

            p.banner__deliv-mcad
                | По Москве в пределах МКАД
                span.banner__font
                    | - 250 рублей

            p.banner__deliv-outmcad
                | По Москве, за МКАД и по Московской области

            P.banner__distance
                | до 10 км - 350 Р
                br
                | до 20 км - 450 Р
                br
                | до 30 км - 550 Р
                br
                | до 50 км - 750 Р

            p.banner__free
                | Примерка двух пар обуви - Бесплатно

            P.banner__free-descr
                | Бесплатная примерка подразумевает покупку
                | одной пары из двух на Ваш выбор. То есть,
                | если Вы желаете преобрести 2 пары обуви,
                | можете заказать 4 пары на примерку бесплатно.

            p.banner__extra
                | Примерка дополнительной пары

            p.banner__price
                | 100 рублей

            p.banner__renounce
                | При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб.
                br
                | Если доставка за МКАД, то 250 руб + стоимость доставки.

        .banner__img-wrap
            img(src="img/car.png")

        h3.banner__order-title
            | Заказывая обувь у нас Вы получаете:

        .banner__order
            .banner__order-elem
                .banner__order-img
                    img(src="img/order-1.png")

                p.banner__order-descr
                    | Согласуем удобный для Вас день доставки

            .banner__order-elem
                .banner__order-img
                    img(src="img/order-2.png")

                p.banner__order-descr
                    | Курьер позвонит Вам за час до прибытия

            .banner__order-elem
                .banner__order-img
                    img(src="img/order-3.png")

                p.banner__order-descr
                    | Менеджер предложит время доставки на Ваш выбор

            .banner__order-elem
                .banner__order-img
                    img(src="img/order-4.png")

                p.banner__order-descr
                    | Курьер подождет 15 минут, пока Вы будете примерять обувь

        .banner__courier-title
            | Зоны курьерской доставки по Москве и области:

