footer.footer
    .container
        .footer__box
            .footer__elem
                h3.footer__title
                    | Каталог

                ul.footer__list
                    li
                        a(href="#")
                            | Черные Converse

                    li
                        a(href="#")
                            | Красные Converse

                    li
                        a(href="#")
                            | Высокие Converse

                    li
                        a(href="#")
                            | Детские Converse

                    li
                        a(href="#")
                            | Женские Converse

                    li
                        a(href="#")
                            | Белые кеды Converse

                    li
                        a(href="#")
                            | Кожаные кеды Converse

                    li
                        a(href="#")
                            | Коричневые кеды Converse


            .footer__elem
                h3.footer__title
                    | О компании

                ul.footer__list
                    li
                        a(href="#")
                            | Вопросы и ответы

                    li
                        a(href="#")
                            | Контакты

                    li
                        a(href="#")
                            | Доставка

                    li
                        a(href="#")
                            | Политика Безопасности

                    li
                        a(href="#")
                            | Карта сайта фильтр

                    li
                        a(href="#")
                            | Возврат товара

                    li
                        a(href="#")
                            | Карта сайта

            .footer__elem
                h3.footer__title
                    | Способ оплаты

                .footer__img-box
                    .footer__img-wrap
                        img(src="img/visa.png")

                    .footer__img-wrap
                        img(src="img/mc.png")

                    .footer__img-wrap
                        img(src="img/yd.png")

                p.footer__other-pay
                    | Вы можете оплатить покупки
                    | наличными при получении, либо
                    | выбрать
                    a(href="#").footer__other-pay--link
                        | другой способ оплаты.

            .footer__elem
                h3.footer__title
                    | Наши контакты

                p.footer__contact
                    | Тел.:
                    a(href="tel:8 (495) 120-50-32").footer__contact--link
                        | 8 (495) 120-50-32
                    br
                    | Москва, Кутузовский пр-т, 36, стр. 41
                    br
                    | Почта: info@proox.ru
