header.header
    .container
        .header__box
            a(href="#").header__logo
                img(src="img/logo.png")


            ul.header__menu
                    li
                        a(href="#")
                            | Доставка и оплата

                    li
                        a(href="#")
                            | Обмен и возврат

                    li
                        a(href="#")
                            | Блог

                    li
                        a(href="#")
                            | Контакты

            .header__phone
                a(href="#").header__num
                 | 8(495)120-50-32

.header__low
    .container
        .header__low-box
            nav.header__navigation
                a(href="#").header__trigger#header-trigger
                    span
                    span
                    span

                p.header__low-menu--title
                    | Меню

                ul.header__low-menu
                    li
                        a(href="#")
                            | СКИДКИ ДО 60%

                    li
                        a(href="#")
                            | МУЖЧИНАМ

                    li
                        a(href="#")
                            | ЖЕНЩИНАМ

                    li
                        a(href="#")
                            | ДЕТЯМ

                    li
                        a(href="#")
                            | НОВИНКИ

            .header__low-wrap
                a(href="#").header__low-search
                    img(src="img/search.png")

                a(href="#").header__low-elem--wrap
                    span.header__low-heart

                    span.header__low-count
                        | 1

                    p.header__low-descr
                        | Избранное: 1 товар


                a(href="#").header__low-elem--wrap
                    span.header__low-bucket-img

                    span.header__low-count
                        | 0

                    p.header__low-descr
                        | корзина: 0 товаров